@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.20);
}

.main-header,
.main-container,
.main-footer {
  background-color: #fff;
}

.visually-hidden {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  transform: scale(0);
}


h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

/*
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}*/

button {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
}

.button-blue {
  background: #82B3D3;
}

.button-brown {
  background: #756257;

}

.button-grey {
  background: #F2F2F2;
}

.button-green {
  background: #7DB54F;
}

.button-green:hover {
  background-color: rgba(108, 158, 66, 1);
}

/*
.button-green:focus {
  background-color: rgba(108, 158, 66, 1)
}*/


.button-green:active {
  color: rgba(255, 255, 255, 0.3);
}




.advantages-reasons,
.servise-text,
.search-data {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}


.main-header {
  min-height: 64px;
  outline: 5px solid rebeccapurple;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}


.logo-navigation {
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
}

.logo-img {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 350px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.navigation-item {
  padding: 0 16px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}


.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.navigation-icon-search {
  background-image: url(../images/header/search.svg);
}

.navigation-icon-favourites {
  background-image: url(../images/header/heart.svg);
}

.heart {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  top: 11px;
  left: 21px;
  font-size: 10px;
  line-height: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

.navigation-button {
  width: 160px;
  min-height: 36px;
  margin-left: 20px;
}

.navigation-button:hover {
  background: #615048;
}

.navigation-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}


.main-container {
  width: 1200px;
  flex-grow: 1;
}


.welcome {
  background-image: url(../images/first-screen/welcome-decoration.svg), url(../images/first-screen/index-background.jpg);
  background-color: #48D1CC;
  color: #fff;
  background-repeat: no-repeat;
  height: 485px;
  background-size: 100% auto, cover;
  padding: 51px 70px 30px;
  background-position: bottom;
}


.welcome-img {
  display: block;
  margin: 0 auto;

}

/* ADVANTAGES*/

.advantages {
  outline: 2px solid rgb(236, 13, 199);
  text-align: center;
}

.advantages-header {
  padding: 69px 0;
  outline: 2px solid rgb(23, 10, 202);
  margin-bottom: 20px;
}

.advantages-slogan {
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-reasons {
  margin: 0;
}

.advantages-second-fone {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-fone {
  background: rgba(131, 179, 211, 0.20);
}

.fone-blue-light {
  background: rgba(131, 179, 211, 0.20);
}


.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  min-height: 385px;
}

.advantages-broad {
  grid-column: 1 / -1;
}



.advantages-wrapper-text {
  width: 400px;
  background: #82B3D3;
  color: #fff;
  padding: 103px 85px;
  box-sizing: border-box;
}


.advantages-title {
  max-width: 230px;
  margin: 0;
  margin-bottom: 60px;
}

/* псевдоэлемент
.advantages-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);*/


.advantages-desсription {
  width: 230px;
  margin: 0;
}

.advantages-img {
  display: block;
  max-width: 100%;
  /*object-fit: contain;*/
}


.advantages-reverse {
  flex-direction: row-reverse;
}

.advantages-small {
  flex-direction: column;
  width: 400px;
  padding: 112px 85px;
  box-sizing: border-box;

}

.service {
  padding: 64px 0;
  outline: 2px solid greenyellow;
}


.service-slogan {
  max-width: 505px;
  margin: 0 auto 20px;
}

.service-title {
  margin: 102px 0 30px;
}

.service-text {
  max-width: 490px;
  margin: 0 auto;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.service-description {
  max-width: 230px;
  margin: 0;

}

.service-house {
  background-image: url(../images/index-icons/house-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px
}


.service-food {
  background-image: url(../images/index-icons/food-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.service-souvenirs {
  background-image: url(../images/index-icons/souvenirs-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px
}


.search {
  padding: 96px 304px;
  text-align: center;
}

.search-title {
  max-width: 297px;
  margin: 0 auto 20px;
}

.search-data {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto 54px;
}

/*  блок подписки*/
.subscribe {
  background-image: url(../images/index-photo/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-title {
  min-width: 404px;
  margin: 0 auto 20px;
}

.subscribe-description {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 54px;
  max-width: 475px;
  margin: 0 auto 54px;
}

/*.service-house {
  background-image: url(../images/index-icons/house-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top center 150px;
}*/

.button-search {
  display: block;
  margin: 0 auto;
  width: 376px;
  height: 36px;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 50px;
}

.button-search:hover,
.button-search:focus {
  background: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}


.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 232px;
  outline: none;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background: rgba(104, 162, 202, 1);
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}



/* FOOTER*/

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  outline: 5px solid rebeccapurple;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  /*  min-height: 40px;*/
  padding: 0;
  list-style-type: none;
  /* align-items: center;*/
  margin: 5px 0;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.footer-link:hover svg path,
.footer-link:focus svg path {
  fill: rgb(104, 162, 202);
}

.footer-link:active svg path {
  fill: rgba(130, 179, 211, 0.3);
}


.footer-htmlacademy:hover {
  fill: rgb(117, 97, 87);
}


.footer-phone {
  margin: 0 auto;
}

.footer-phone-contact {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-phone-contact:hover,
.footer-phone-contact:focus {
  color: #756157;
}

.footer-phone-contact:active {
  color: rgba(117, 97, 87, 0.3)
}


.footer-htmlacademy:hover svg path {
  fill: rgba(117, 97, 87, 1);
}

/*Logo footer*/
.footer-htmlacademy-link {
  display: block;
  box-sizing: border-box;
  width: 115px;
  height: 33px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask-image: url(../images/footer/logo-footer.svg);
  mask-image: url(../images/footer/logo-footer.svg);
}

.footer-htmlacademy-link:hover {
  background-color: #756157;
}

.footer-htmlacademy-link:focus {
  background-color: #756157;
}

.footer-htmlacademy-link:active {
  background-color: rgba(117, 97, 87, 0.3);
}




/*Catalog*/

.header-filter {
  background-image: url(../images/catalog/filter/backgroud-filter.jpg);
  background-repeat: no-repeat;
  max-height: 412px;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  padding: 35px 70px 70px;
}

.inner-header {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
}

.breadcrumbs-link-icon {
  display: block;
  width: 20px;
  height: 21px;
  background-image: url(../images/catalog/filter/bredcrumbs-house.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}

.inner-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.filter-form {
  display: flex;
  list-style: none;
}

.filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-group-one {
  padding: 0;
  margin-right: 70px;
  list-style: none;
  border: none;
}

.filter-group-two {
  border: none;
  padding: 0;
  margin: 0;
}

.range {
  display: flex;
}

.filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
}

.filter-button {
  width: 191px;
  display: flex;
  flex-direction: column;
  padding-top: 54px;
}

.button-reset {
  min-height: 36px;
  background: transparent;
}

.range-cost {
  margin-bottom: 36px;
}

.button-applay {
  min-height: 36px;
  margin-bottom: 36px;
}

.button-applay:hover {
  background-color: #68A2CA;
}

.button-applay:focus {
  background-color: #68A2CA;
}



.button-applay:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}


.sorting-container {
  display: flex;
  margin-bottom: 40px;
}

.select-setting {
  display: block;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
  box-sizing: border-box;
}

.sorting-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sorting-link-toggle {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
}

.sorting-current {
  border: 2px solid #000;
}

.sorting-link-toggle:hover,
.sorting-link-toggle:active {
  border: 2px solid #000;
  outline: none;
}

.sorting-link-toggle:focus {
  outline: none;
  border: 2px solid #68A2CA;
}



.sorting-view-tile {
  background-image: url(../images/catalog/sorting/tile-icon.svg);
}

.sorting-view-slideshow {
  background-image: url(../images/catalog/sorting/slideshow-toggle.svg);
}

.sorting-view-list {
  background-image: url(../images/catalog/sorting/list-toggle.svg);
}

/* CARDS*/
.catalog {
  outline: 2px solid salmon;
  padding: 50px 70px 60px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.catalog-item {
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  column-gap: 20px;
  row-gap: 16px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgb(230, 230, 230);
}

.catalog-img-link {
  display: block;
  grid-column: 1/-1;
}

.catalog-img {
  display: block;
  object-fit: contain;
}

.catalog-title-link {
  display: block;
  grid-column: 1/-1;
}

.catalog-title {
  display: grid;
  justify-items: start;
  margin: 0;
}

.catalog-type {
  margin: 0;
}

.catalog-price {
  display: grid;
  justify-items: end;
  margin: 0;
}

.catalog-hotel-link {
  display: grid;
  place-items: center;
  /*justify-content: center;
  align-items: center;*/
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 8px 15px;
  border-radius: 4px;
  min-height: 36px;
}

.catalog-hotel-link:hover {
  background: #615048;
}

/*
.catalog-hotel-link:focus {
  background: #615048;
}*/


.catalog-hotel-link:active {
  color: rgba(255, 255, 255, 0.3);
}


.button-hotel-blue:hover {
  background-color: #68A2CA;
}

/*
.button-hotel-blue:focus {
  background-color: #68A2CA;
}*/

.button-hotel-blue:active {
  color: rgba(255, 255, 255, 0.3);
}


.stars {
  height: 17px;
  margin: 0;
  padding: 0;
  background-image: url(../images/catalog/rating-stars/stars.svg);
  background-repeat: space repeat;
  align-self: center;
}

.stars-four {
  width: 78px;
}

.stars-three {
  width: 66px;
}

.stars-two {
  width: 42px;
}

.rating {
  display: grid;
  place-items: center;
  /*justify-content: center;
  align-items: center;*/
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 23px;
}

.button-grey {
  min-height: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  min-height: 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background: #82B3D3;
  color: #fff;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  box-sizing: border-box;
  padding: 12px 0;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
  /* outline: 1px solid rgba(130, 179, 211, 1);*/
}

/*.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid rgba(130, 179, 211, 1);
}*/

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}


.pagination-link-current {
  background: #F2F2F2;
  color: #000;
}

.pagination-link-spread {
  background: white;
  color: #000;
}

.pagination-link-spread:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.pagination-link-spread:active {
  outline: 1px solid rgba(130, 179, 211, 1);
  color: #000;
}


.subscribe-catalog {
  padding: 96px 258px 104px;
}

.subscribe-form {
  display: flex;
}

.subscribe-field {
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
}