@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.welcome {
  background-image: url(../images/first-screen/index-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  /*  background-size: 100% auto;  */
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

/*.servise-house {
  background-image: url(../images/index-icons/house-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top center 150px;
}*/


.advantages-slogan {
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
